
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">

    <% if @jobs.any? %>
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    <% end %>

    <% @jobs.each do |job| %>
      <div class="job-button">
        <h1 id="<%= job.id %>" class="job-title">
          <%= raw job.company %>
        </h1>
      </div>
    <% end %>

    <% if @jobs.any? %>
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    <% end %>

  </div>
</div>
