<div class="row">

	<%= render "jobs/header_search" %>

	<%= render "jobs/paginated_listing" %>

	<script>
		$( "#accordion" ).accordion({
			heightStyle: "content",
			header: "h3",
			active: false,
			collapsible: true
		});
	</script>

</div><!-- row -->
