// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	text-align: center;
}

.job-form {
	margin-bottom: 30px;
}

h3.ui-state-hover {
  background-color: black !important;
}

a {
  color: #FF8423 !important;
}