// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	text-align: center;
}

.job-form {
	margin-bottom: 30px;
}

a {
  color: #FF8423 !important;
}

.job-button h1.job-title {
  font-size: 1em;
}