// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
	text-align: center;
}

.job-form {
	margin-bottom: 30px;
}

a {
  color: #FF8423 !important;
}

.job-button h1.job-title {
  font-size: 1em;
}

.reply {
  display: none;
}

.job-button {
  padding: 10px 20px;
  box-shadow: 5px 8px 10px gray;
  border: 1px solid #e6af4b;
  margin-bottom: 4px;
}

.active-job {
  background-color: #e05038;
  color: #e6af4b;
}

h1.header {
  font-size: 1.7em;
}